@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    list-style: none;
    box-sizing: border-box;
}


body {
    background-image: url('../images/antojitos.png');
    /* background-image: url('../images/fondo_naranja.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    z-index: -1;
}


/* CSS del menú de opciones */

.navbar {
    background-color: #fba728;
    position: fixed;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;

}

html {
    scroll-behavior: smooth;
}

.logo {
    margin: 35px 10px 20px 15px;
    display: flex;
}

.img-logo {
    width: 50px;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.4);
}

.logo a p {
    color: black;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    top: 46px;
    left: 70px;
}

.icono {
    width: 30px;
}

.submenu ul li {
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
}

.submenu ul li:hover {
    background-color: #f8f3f3;
}

.submenu ul li a {
    display: flex;
}

.submenu ul li a p {
    position: relative;
    top: 4px;
    left: 8px;
}

.sign-out {
    position: absolute;
    bottom: 0;
    width: 250px;
}

.sign-out:hover {
    background-color: aliceblue;
}

.sign-out a {
    font-weight: 500;
    cursor: pointer;
    display: flex;
    padding: 10px 0 10px 15px;
}

.sign-out a p {
    position: relative;
    top: 1px;
    left: 8px;
}

.line {
    width: 250px;
    height: 1px;
    background-color: #210802;
}

#menu {
    display: none;
}

#menu:checked~.navbar {
    transform: translateX(0);
}

.label-menu {
    margin: 10px 0 20px 10px;
    position: fixed;
    z-index: 1000;

}

.menu-icon {
    width: 25px;
}

/* CSS del menú de opciones */


.container {
    max-width: 500px;
    margin: 0 auto;
}

.table {
    margin-top: 50px;
    background: rgba(255, 255, 255, .08);
    border: 1px solid rgba(255, 255, 255, .18);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 10px 28px rgba(0, 0, 0, .25);
    min-height: 500px;
}

.logo2{
    width: 120px;
    border-radius: 100%;
    position: absolute;
    top: -50px;
    left: 190px;
}

.header h2{
    margin-top: 80px;
    color: #f8f3f3;
}

.header{
    text-align: center;
}

.table-info{
    color: #f8f3f3;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.perfil{
    max-width: 460px;
    margin: 0 auto;
    background: rgba(255, 255, 255, .08);
    border: 1px solid rgba(255, 255, 255, .18);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    box-shadow: 0 10px 28px rgba(0, 0, 0, .25);
}

.perfil-text{
    color: #f96b12;
    font-weight: 600;
    margin: 10px;
}

.perfil label{
    font-size: 13px;
    color: #f8f3f3;
    font-weight: 500;
    margin-left: 10px;
}

.perfil input{
    background-color: #dcd6d1;
    font-size: 15px;
    color: #6d7069;
    border: none;
    border-radius: 5px;
    width: 440px;
    margin-left: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    height: 35px;
}

.perfil input::placeholder {
    color: #9a9c97;
}

.buttons{
    width: 460px;
    margin: 15px auto;
    display: flex;
    justify-content: space-between;
}

.buttons a, .buttons button{
    font-size: 15px;
    width: 220px;
    height: 40px;
    padding: 7px;
    text-align: center;
}

.buttons a{
    border: 1px solid rgba(255, 255, 255, .18);
    color: #f8f3f3;
    box-sizing: border-box;
}

.buttons a:hover{
    background: rgba(255, 255, 255, .08);
    backdrop-filter: blur(8px);
}

.buttons button{
    border: none;
    color: #f8f3f3;
    background-color: #f96b12;
    font-weight: 700;
}

.buttons button:hover{
    box-shadow: 0 5px 14px #f96b12;
    position: relative;
    top: -2px;
}