@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: black;
    list-style: none;
    box-sizing: border-box;
}


/* CSS del menú de opciones */

.navbar {
    background-color: #fba728;
    position: fixed;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 100;

}

html {
    scroll-behavior: smooth;
}

.logo {
    margin: 35px 10px 20px 15px;
    display: flex;
}

.img-logo {
    width: 50px;
    border-radius: 50%;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.4);
}

.logo a p {
    color: black;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    top: 46px;
    left: 70px;
}

.icono {
    width: 30px;
}

.submenu ul li {
    font-weight: 500;
    cursor: pointer;
    padding: 10px;
}

.submenu ul li:hover {
    background-color: #f8f3f3;
}

.submenu ul li a {
    display: flex;
}

.submenu ul li a p {
    position: relative;
    top: 4px;
    left: 8px;
}

.sign-out {
    position: absolute;
    bottom: 0;
    width: 250px;
}

.sign-out:hover {
    background-color: aliceblue;
}

.sign-out a {
    font-weight: 500;
    cursor: pointer;
    display: flex;
    padding: 10px 0 10px 15px;
}

.sign-out a p {
    position: relative;
    top: 1px;
    left: 8px;
}

.line {
    width: 250px;
    height: 1px;
    background-color: #210802;
}

#menu {
    display: none;
}

#menu:checked~.navbar {
    transform: translateX(0);
}

.label-menu {
    margin: 10px 0 20px 10px;
    position: fixed;
    z-index: 1000;

}

.menu-icon {
    width: 25px;
}

/* CSS del menú de opciones */

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    min-height: 80vh;
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../images/header.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

h1 {
    padding: 100px;
    font-size: 80px;
    text-align: center;
    font-weight: 700;
    color: #f96b12;
}

.header-content p {
    color: #f8f3f3;
    font-size: 20px;
    text-align: center;
    font-weight: 500;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin: 50px 200px;
}

.button-1 {
    background-color: #f9833a;
    color: #f8f3f3;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 20px;
    margin-bottom: 100px;
}

.button-1:hover {
    background-color: #210802;
}

.nosotros {
    display: flex;
}

.nosotros-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #f8f3f3;
}

.nosotros-2 {
    background-image: url('../images/nosotros1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.nosotros-3 {
    background-image: url('../images/nosotros2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.nosotros h2 {
    font-size: 50px;
    line-height: 70px;
    color: #210802;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.nosotros p {
    font-size: 18px;
    color: #210802;
}

.menu-productos {
    background-color: black;
    text-align: center;
}

.menu-productos img {
    width: 500px;
}

.mapas {
    background-color: #f8f3f3;
}

.mapas-content {
    display: flex;
    justify-content: space-between;
}

.mapas h2 {
    text-transform: uppercase;
    text-align: center;
    color: #210802;
    font-size: 50px;
    line-height: 70px;
    padding: 20px 0;
}

.mapas h3 {
    text-align: center;
    color: #210802;
    font-weight: 500;
    margin-bottom: 10px;
}

iframe {
    border-radius: 20px;
    margin-bottom: 20px;
}

.footer {
    background-color: black;
    min-height: 40vh;
}

.footer-content ul li p {
    color: #f8f3f3;
    font-size: 18px;
}

.footer-content ul {
    padding-top: 80px;
    text-align: center;
}

.footer-content ul li {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.footer-content ul li a {
    display: flex;
}

.footer-content img {
    width: 40px;
}

.line2 {
    width: 500px;
    height: 1px;
    background-color: #f8f3f3;
}

@media(max-width:991px) {
    * {
        padding: 0;
        margin: 0;
    }

    h1 {
        padding: 130px 30px 30px 30px;
        font-size: 50px;
        text-align: center;
        font-weight: 700;
        color: #f96b12;
    }

    .header-content p {
        color: #f8f3f3;
        font-size: 17px;
        text-align: center;
        font-weight: 500;
        padding: 0 30px;
    }

    .buttons {
        margin: 50px;
    }

    .button-1 {
        padding: 10px 20px;
    }

    .nosotros-2 {
        display: none;
    }

    .nosotros-3 {
        display: none;
    }

    .nosotros-1 {
        width: 100%;
    }

    .nosotros-1 h2 {
        text-align: center;
        font-size: 40px;
        line-height: 35px;
        padding-top: 20px;
    }

    .nosotros-1 {
        padding: 0 30px 20px 30px;
    }

    .menu-productos img{
        width: 350px;
    }

    .mapas-content{
        flex-direction: column;
    }

    .mapa1{
        margin: 0 auto;
    }

    iframe{
        width: 350px;
        height: 380px;
    }

    .footer-content ul{
        padding-top: 20px;
    }

    .line2{
        width: 400px;
    }

}